# REDIS
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# GITHUB
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
ADMIN_GITHUB_USERNAME=
SESSION_SECRET=

# VERCEL BLOBS
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=
